@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

@import "../node_modules/bulma/bulma.sass";

// html, body {
//   margin: 0;
//   padding: 0;
// }

.single-spaced, .single-spaced * {
  line-height: 0.5;
}

.hidden {
  display: none;
}

@media (max-width: 370px) {
  .single-spaced, .single-spaced * {
    line-height: 1;
  }
  .hidden {
    display: inline;
  }
}

/* .main-title {
  text-decoration-line: underline;
} */

.with-border {
  border: 1px white;
}

.glow {
color: black;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

nav.hidden {
  display: none;
}

